* {
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  margin: 0 5px 0 5px;
}

.inputcont {
  margin-left: 45%;
}

.bgimage {
  height: 100%;
  width: 100%;
}

.userList {
  margin: 5% 25% 0 40%;
}
